*{
  box-sizing: border-box;
}
html{
  font-size: 18px;
}
body{
  margin: 0; 
}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.app{
  position: relative;
  width: 320px;
  height: 568px;
  border-radius: 16px;
  background-color: rgb(171, 193, 209);
}
.app  > h1{
  font-size: 2em;
  text-align: center;
  margin: 10px 5px;
  border-bottom: 0.5px solid rgb(234, 234, 234);
}
ul{
  max-height: 420px;
  overflow: auto;
}

form{
  background-color: rgb(255, 255, 255);
  position: absolute;
  bottom: 0;
}
input{
  font-size: 1.4em;
  margin: 0;
  border: none;
  height: 45px;
}
input[type="text"]{
  width: 240px;
  padding-left: 10px;
}
input[type="text"]:focus{
  outline: none;
}
input[type="submit"]{
  cursor: pointer;
  width: 80px;
  border-radius: 8px;
  background-color: rgb(254, 229, 77);
}
